<div ng-class="{'loading':  isLoading}"></div>

<div class="panel panel-danger" ng-init="initPersona()">
    <div class="panel-heading">
        <h3 class="panel-title">Personas</h3>
    </div>
    <div class="panel-body">
        <div class="buttonOne">
            <button class="btn btn-dark" ng-click="CleanPersona();" data-target="#ModalCreateEditEmpresa" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>

    <div class="table table-striped">
        <table ng-table="PersonaTable" id="PersonaTable" class="table table-bordered">
            <tbody>
                <tr ng-repeat="row in $data">
                    <td data-title="'Acciones'" style="width:14%;">
                        <button type="button" class="btn" ng-click="loadPersona(row)"
                                data-target="#ModalCreateEditEmpresa" data-toggle="modal">
                            <i class="fas fa-pencil-alt"></i>
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn" ng-click="loadPersona(row)"
                                data-target="#ModalDeleteConfirm" data-toggle="modal">
                            <i class="fas fa-trash-alt"></i>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td data-title="'Nombre'">{{row.Nombre}}</td>
                    <td data-title="'Apellido'">{{row.Apellido}}</td>
                    <td data-title="'DNI'">{{row.Dni}}</td>
                    <td data-title="'Telefono Personal'">{{row.TelefonoPersonal}}</td>
                    <td data-title="'Telefono Laboral'">{{row.TelefonoLaboral}}</td>
                    <td data-title="'Email Personal'">{{row.EmailPersonal}}</td>
                    <td data-title="'Eliminado'">{{row.Eliminado}}</td>
                    <td data-title="'Movil'">{{row.Movil}}</td>
                    <td data-title="'Supervisor'">{{row.Supervisor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="ModalCreateEditEmpresa" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo Tipo Persona</h4>
            </div>
            <div class="modal-body">
                <form name="PersonaForm">
                    <div class="inputLine">
                        <label>Nombre</label>
                        <input class="form-control" ng-model="Persona.Nombre" />
                        <label>Apellido</label>
                        <input class="form-control" ng-model="Persona.Apellido" />
                        <label>Dni</label>
                        <input class="form-control" ng-model="Persona.Dni" />
                        <label>Tipo Persona</label>
                        <input class="form-control" ng-model="Persona.IdTipoPersona" />
                        <label>Empresa</label>
                        <input class="form-control" ng-model="Persona.IdEmpresa" />
                        <label>Telefono Personal</label>
                        <input class="form-control" ng-model="Persona.TelefonoPersonal" />
                        <label>Telefono Laboral</label>
                        <input class="form-control" ng-model="Persona.TelefonoLaboral" />
                        <label>Email Personal</label>
                        <input class="form-control" ng-model="Persona.EmailPersonal" />
                        <label>Email Laboral</label>
                        <input class="form-control" ng-model="Persona.EmailLaboral" />
                        <label>Eliminado</label>
                        <input class="form-control" ng-model="Persona.Eliminado" />
                        <label>Movil</label>
                        <input class="form-control" ng-model="Persona.Movil" />
                        <label>Supervisor</label>
                        <input class="form-control" ng-model="Persona.Supervisor" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-show="isSave" type="button" class="btn buttonNew"
                        ng-disabled="PersonaForm.$invalid" data-dismiss="modal"
                        ng-click="savePersona()">
                    Crear
                </button>
                <button ng-show="!isSave" type="button" data-dismiss="modal"
                        class="btn buttonNew" ng-disabled="PersonaForm.$invalid"
                        ng-click="editPersona()">
                    Editar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensaje</h4>
            </div>
            <div class="modal-body">
                <p ng-class="{'success': isSuccess, 'error': !isSuccess}">{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ModalDeleteConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <div class="modal-body">
                <p> ¿Desea eliminar el tipo de Persona: <b>{{Persona.Nombre}}</b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn buttonNew" ng-click="DeletePersona()" data-dismiss="modal">Eliminar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->