<div id="MasterTipos" ng-app="MasterTipos" style="height:100%;">
    @RenderPage(Url.Content("~/Views/MasterTipos/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>


<script src="~/Scripts/Angular - Modules/MasterTipos/MasterTiposModule.js"></script>
<script src="~/Scripts/Angular - Modules/MasterTipos/MasterTiposCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/MasterTiposService.js"></script>